*{
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    /*transition: all .2s linear;*/
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left: 0;
    z-index: 1000;
    padding:1.5rem 2rem;
    padding-bottom: 2rem;
    background: white;
}
header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
header .social ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
header .navbar ul li{
    margin:0 1rem;
    padding: .5rem;
}
header .social ul li{
    margin: 0 1rem;
    padding: .5rem;
}
header .navbar ul li a{
    font-size: 2rem;
    color: black;
    font-family: 'Times New Roman';
}

header .social ul li i{
    font-size: 2rem;
    color: deeppink;
    cursor: pointer;
}
header .navbar ul li a.active,
header .navbar ul li a:hover{
    font-weight: bold;
    border-bottom: 2px solid deeppink;
}
header .social ul li i:hover{
    font-weight: bold;
}
header #menu{
    font-size: 3rem;
    color:black;
    cursor: pointer;
    display: none;
}


.news-content{
    display: flex;
    padding: 10rem; 
}
.news-content .box{
    flex-basis: 10%;
    padding: 20px;
}

.first{
    flex: 2;
}
.first .latest{
    display: flex;
    padding-top: 2rem;
}
.first .latest .latestpost{
    padding-left: 1rem;
}
.first .latest .latestpost .latestspan{
    background: deeppink;
    color: white;
    border-radius: 5px;
    letter-spacing: .20px;
    padding: 2px;
    margin-left: 1rem;
}
.first .latest .latestpost h3{
    font-size: 2rem;
}
.first .latest .latestpost .tab{
    font-size: 1.1rem;
}
.first .latest .latestpost p{
    font-size: 1.3rem;
    padding-left: 1rem;
}

.second{
    flex: 1;
}
.second .recent{
    display: flex;
    padding-top: 2rem;
}
.second .recent .recentpost .rpost{
    font-size: 1.5rem;
}
.second .recent .recentpost .recentspan{
    background: deeppink;
    color: white;
    border-radius: 5px;
    letter-spacing: .20px;
    padding: 2px;
    margin-left: 1rem;
}
.second .recent .recentpost .date{
    padding-top: 1rem;
}
.second .card{
    padding-top: 2rem;
}
.second .card .localpost{
    display: inline-block;
    background: white;
    margin: 0 3rem;
    margin-top: -15%;
    padding: 1rem;
    border: 1px solid antiquewhite;
}
.second .card .localpost h3{
    font-size: 1.5rem;
}
.second .card .localpost .tab{
    font-size: 1.1rem;
}
.second .card .localpost p{
    font-size: 1.3rem;
    padding: 0 1rem;
}
.second .card .localpost .localspan{
    background: deeppink;
    color: white;
    border-radius: 5px;
    letter-spacing: .20px;
    padding: 2px;
    margin-left: 1rem;
}

.subheader{
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 9rem 6rem 2rem 6rem;
    background: black;
    position: fixed;
    z-index: 1000;
    color: white;
    font-size: 1.5rem;
}
.subheader strong{
    color: red;
}


.home .mainhome-content{
    display: flex;
    padding: 0 7rem;
    padding-top: 20rem;
    background: antiquewhite;
    height: auto;
}
.home .mainhome-content .home1 .home1img img{
    width: 100%;
    height: 119.6vh;
}
.home .mainhome-content .home2 .mainhome2 .home2img img{
    width: 100%;
    height: 40vh;
}
.home .mainhome-content .home1 .home1content{
    color: white;
}
.home .mainhome-content .home1 .home1content .home1header{
    font-size: 1.8rem;
    text-transform: uppercase;
}
.home .mainhome-content .home1 .home1content{
    margin-top: -15%;
    padding: 0 3rem;
    letter-spacing: .1rem;
    color: white;
    padding-bottom: 1rem;
}
.home .mainhome-content .home1 .mainhome1:hover .home1img img{
    border-bottom: 1rem solid deeppink;
    transition: all 1s;
    cursor: pointer;
}
.home .mainhome-content .home2 .home2content .home2header{
    font-size: 1.1rem;
    text-transform: uppercase;
}
.home .mainhome-content .home2 .home2content{
    margin-top: -20%;
    padding: 0 2rem;
    letter-spacing: .1rem;
    color: white;
    padding-bottom: 1rem;
}
.home .mainhome-content .home2 .mainhome2:hover .home2img img{
    border-bottom: 1rem solid deeppink;
    transition: all 1s;
    cursor: pointer;
}

.mainhome2{
    position: relative;
}
.home2span{
    position: absolute;
    top: 10%; 
    left: 70%;
    width: 50px;
    text-align: center;
}


.container{
    background: antiquewhite; 
    padding-top: 10rem;
}
.header h1{
    font-size: 3rem;
    text-align: center;
}
.header h1::after{
    content: "";
    height: 5px;
    width: 200px;
    background: linear-gradient(deeppink,black);
    display: block;
    margin: auto;
}
.header p{
    font-size: 1.5rem;
    text-align: left;
    padding: 1rem 180px 0 180px;
}
.home .card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}
.home .card-container .card{
    margin: 2rem;
    text-align: center;
    width: 30rem;
    height: auto;
    cursor: pointer;
    background: white;
    text-align: left;
}
.home .card-container .card h2,h3{
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.home .card-container .card img{
    height:25rem;
    width:100%;
    object-fit: cover;
}
span{
    background: deeppink;
    color: white;
    border-radius: 5px;
    letter-spacing: .15px;
    margin-left: 1rem;
}

footer{
    bottom: 0px;
    width: 100%;
    background: rgb(24,26,27);
    color: whitesmoke;
    
}
.main-content{
    display: flex;
    letter-spacing: 1px;  
    padding: 3rem; 
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 2rem;
}
.box h2::after{
    content: "";
    height: 5px;
    width: 100px;
    background: linear-gradient(deeppink,antiquewhite);
    display: block;
    margin-right: auto;
}
.box .content{
    margin: 20px 0 0 0;
}
.left .content p{
    font-size: 1.4rem;
}
.left .place .footercontent{
    display: flex;
    padding: 5px 0;
}
.footercontent .footericon i{
    font-size: 3.5rem;
    color: deeppink;
    padding-right: 2rem;
}
.center .content .footercontent{
    display: flex;
    padding: 5px 0;
}
.center .content .footerspan{
    background: deeppink;
    color: white;
    border-radius: 5px;
    letter-spacing: .20px;
    padding: 0 2px;
    margin-left: 1rem;
}
.right .content .email{
    padding: 10px;
    margin: 3px;
    width: 75%;
    border-radius: 20px;
}
.right .content button{
    background: deeppink;
    color: whitesmoke;
    padding: 10px;
    margin: 3px;
    width: 40%;
    border-radius: 20px;
    cursor: pointer;
}
.right .content .tab{
    tab-size: 10;
    font-size: 1rem;
}
.sub-content{
    display: flex;
    letter-spacing: 1px;  
    justify-content: space-around; 
    font-size: 1.2rem;
    background: black;
    padding: 1.5rem;
}
hr{
    border: 1px solid antiquewhite;
}
.sub-content .footerbar ul{
    display: flex;
    list-style: none;
}
.sub-content .footerbar ul li{
    padding: 0 1rem;
    margin: 0 1rem;
}
.sub-content .footerbar ul li a{
    color: white;
    text-transform: uppercase;
}


/*business_HTML*/
.posfix{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background:url(img/news.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    text-align: center;
}
.posfix h1{
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Times New Roman';
}
.posfix h3{
    font-size: 1.5rem;
    color: midnightblue;
}

.news-container{
    background: antiquewhite; 
    padding-top: 8rem;
    padding: 8rem 3rem 3rem 3rem;
}
.news-container .newsheader h3{
    text-align: center;
    font-size: 3rem;
    font-family: 'Times New Roman';
}
.news-container .newscard-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}
.news-container .newscard-container .newscard{
    margin: 2rem;
    text-align: center;
    width: 25rem;
    height: auto;
    cursor: pointer;
    background: white;
    text-align: left;
}
.news-container .newscard-container .newscard img{
    height:20rem;
    width:100%;
    object-fit: cover;
}
.news-container .newscard-container .newscard h4{
    font-size: 1.5rem;
    padding: .5rem 1rem;
}
.news-container .newscard-container .newscard .newstap{
    font-size: 1.2rem;
    padding: .5rem 1rem;
    tab-size: 8;
}
.news-container .newscard-container .newscard:hover h4{
    text-decoration: underline;
}
.news-container .newscard-container .newscard a:hover{
    text-decoration: underline;
}
.newsheader h3::after{
    content: "";
    height: 5px;
    width: 200px;
    background: linear-gradient(deeppink,antiquewhite);
    display: block;
    margin: auto;
}



















/*media*/
@media (max-width:  1300px){
    html{
        font-size: 55%;
    }
    .home .mainhome-content{
        display: block;
        padding-bottom: 5rem;
    }
    .home .mainhome-content .home2{
        display: flex;
    }
    .home .mainhome-content .home1 .home1img img{
        width: 100%;
        height: auto;
    }
}

@media (max-width: 1024px){
   html{
        font-size: 55%;
    }
    header #menu{
        display: block;
        font-size: 2rem;
    }
    header .navbar{
        position: fixed;
        top:-120%; left:0;
        width:100%;
        background:mintcream;
    }
    header .navbar ul{
        flex-flow: column;
        padding:2rem 0;
    }
    header .navbar ul li{
        margin:1.5rem 0;
        text-align: center;
        width:100%;
    }
    header .navbar ul li a{
        font-size: 2.5rem;
        display: block;
        color: black;
    }
   header .navbar ul li a.active,
    header .navbar ul li a:hover{
        color:black;
        border-bottom: 2px solid transparent;
    }
    header .navbar.nav-toggle{
        top:7rem;
    }
    .header p{
        padding-top: 1rem;
        padding-left: 100px;
        padding-right: 100px;
    }
    .main-content{
        display: block;
    }
    .right .content .email{
        width: 50%;
    }
    .right .content button{
        width: 30%;
        font-size: 1.4rem;
    }
    .news-content{
        display: block;
        padding: 0;
        padding-top: 10rem;
    }
    .second .card{
        display: flex;
    }
    .second .card .localpost{
        margin: 0;
        padding: 5rem 0;
    }
    
   .home .mainhome-content{
        display: block;
        padding: 10rem 4rem 7rem 4rem;
    }
     .home .mainhome-content .home2{
        display: block;
    }
    .home .mainhome-content .home1 .home1img img{
        width: 100%;
        height: auto;
    }
    .home .mainhome-content .home1 .home1content{
        margin-top: -20%;
    }
    .home .mainhome-content .home2 .mainhome2 .home2img img{
        width: 100%;
        height: auto;
    }
    .home .mainhome-content .home2 .mainhome2 .home2content{
        margin-top: -10%;
        padding-bottom: 4rem;
    }
    .home2span{
        left: 85%;
        width: 45px;
    }
}















@media (max-width:768px){
    html{
        font-size: 55%;
    }
    header #menu{
        display: block;
        font-size: 2rem;
    }
    header .navbar{
        position: fixed;
        top:-120%; left:0;
        width:100%;
        background:mintcream;
    }
    header .navbar ul{
        flex-flow: column;
        padding:2rem 0;
    }
    header .navbar ul li{
        margin:1.5rem 0;
        text-align: center;
        width:100%;
    }
    header .navbar ul li a{
        font-size: 2.5rem;
        display: block;
        color: black;
    }
    header .navbar ul li a.active,
    header .navbar ul li a:hover{
        color:black;
        border-bottom: 2px solid transparent;
    }
    header .navbar.nav-toggle{
        top:7rem;
    }
    .header p{
        padding-top: 1rem;
        padding-left: 100px;
        padding-right: 100px;
    }
    .main-content{
        display: block;
    }
    .right .content .email{
        width: 50%;
    }
    .right .content button{
        width: 30%;
        font-size: 1.4rem;
    }
    .news-content{
        display: block;
        padding: 0;
        padding-top: 10rem;
    }
    
    .second .card{
        display: flex;
    }
    .second .card .localpost{
        margin: 0;
        padding: 5rem 0;
    }
    
   .home .mainhome-content{
        display: block;
        padding: 20rem 4rem 7rem 4rem;
    }
    .home .mainhome-content .home1 .home1img img{
        width: 100%;
        height: auto;
    }
    .home .mainhome-content .home1 .home1content{
        margin-top: -20%;
    }
    .home .mainhome-content .home2 .mainhome2 .home2img img{
        width: 100%;
        height: auto;
    }
    .home .mainhome-content .home2 .mainhome2 .home2content{
        margin-top: -10%;
        padding-bottom: 4rem;
    }
    .home2span{
        left: 85%;
        width: 45px;
    }
    .subheader{
        text-align: left;
        padding: 9rem 4rem 2rem 4rem;
    }
}




















@media (max-width:500px){
    html{
        font-size: 40%;
    }
    header .social ul li{
        padding: .5px;
    }
    header .social ul li a{
        font-size: 1.1rem;
    }
    .header p{
        padding-top: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    
    .main-content{
        display: block;
    }
    .right .content .email{
        padding: 5px;
        margin: 2px;
        width: 100%;
    }
    .right .content button{
        padding: 5px;
        margin: 2px;
        width: 30%;
        font-size: 1.4rem;
    }
    .sub-content{
        display: block;
        padding: 2rem;
    }
    .sub-content .footerbar ul li{
        padding: 1rem;
    }

    .news-content{
        display: block;
        padding: 0;
        padding-top: 10rem;
    }
    .first .latest{
        display: block;
    }
    .first .latest .latestimg img{
        width: 100%;
        height: auto;
    }
    .second .recent .recentimg img{
        width: 100%;
        height: auto;
    }
    .second .card{
        display: block;
    }
    .second .card .localpost{
        display: inline-block;
        background: white;
        margin: 0 3rem;
        margin-top: -15%;
        padding: 1rem;
        border: 1px solid antiquewhite;
    }
    .second .card .cardimg{
        width: 100%;
        height: auto;
    }

    .home .mainhome-content{
        display: block;
        padding: 20rem 3rem 7rem 3rem;
    }
    .home .mainhome-content .home1 .home1img img{
        width: 100%;
        height: auto;
    }
    .home .mainhome-content .home1 .home1content{
        margin-top: 0;
        color: black;
        padding: 0;
    }
    .home .mainhome-content .home2 .home2content{
        padding-bottom: 3rem;
    }
    .home2span{
        left: 80%;
        width: 40px;
    }
    .subheader{
        text-align: left;
        padding: 9rem 2rem 2rem 2rem;
    }

}